<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Simple_Time_Lapse.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Simple_Time_Lapse.My.MySettings>
            <setting name="LanguageCode" serializeAs="String">
                <value>en_US</value>
            </setting>
            <setting name="DefaultLanguageCode" serializeAs="String">
                <value>en_US</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0.0</value>
            </setting>
            <setting name="AutoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateURL" serializeAs="String">
                <value>http://simpletimelapse.sourceforge.net/update/</value>
            </setting>
            <setting name="Support_Mail" serializeAs="String">
                <value>limosoft@users.sourceforge.net</value>
            </setting>
            <setting name="Support_Bugs" serializeAs="String">
                <value>https://sourceforge.net/p/simpletimelapse/bugs/</value>
            </setting>
            <setting name="Support_Features" serializeAs="String">
                <value>https://sourceforge.net/p/simpletimelapse/feature-requests/</value>
            </setting>
            <setting name="Support_General" serializeAs="String">
                <value>https://sourceforge.net/p/simpletimelapse/general-requests/</value>
            </setting>
            <setting name="TranslationURL" serializeAs="String">
                <value>http://simpletimelapse.sourceforge.net/translate.html</value>
            </setting>
            <setting name="FFmpegURL" serializeAs="String">
                <value>http://simpletimelapse.sourceforge.net/ffmpeg.html</value>
            </setting>
        </Simple_Time_Lapse.My.MySettings>
    </userSettings>
</configuration>